#
# JFD Mods Begin
#

# This is git repo for the gn source code
gn/
# any ninja files built by gn
.ninja_deps
.ninja_log
*.ninja

# This is the example code for the antlr4 book
#book/

# This is a temp dir
testy/

#
# This is for src build artifacts
#

# gn build c++
src/gncc/out

# gn build java
src/gnjava/out

# my gn build java using modified ninja_syntax.py 
src/mygnjava/out
src/mygnjava/__pycache__

# Omit the python venv
src/env




#
# JFD Mods Begin
#





# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
