out
__pycache__
starter/
starter/*
tour/*.java
tour/*.interp
tour/*.tokens
tour/.antlr/*
tour2/*.java
tour2/*.interp
tour2/*.tokens
tour2/.antlr/*
calc/*.java
calc/*.interp
calc/*.tokens
calc/.antlr/*
